.developers {
  &--inner--wrapper {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  &--introduce {
    &--wrapper {
      display: flex;
      position: relative;
      width: 100%;
      height: 22.5rem;
      justify-content: center;
      background-image: linear-gradient(to left, #078f91, #19b6b6);
    }

    &--inner--wrapper {
      display: flex;
      width: 75rem;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &--title {
      color: white;
      font: {
        family: 'NanumSquareB';
        size: 2.25rem;
      }

      &--sub {
        color: rgba(255, 255, 255, 0.64);
        margin-top: 1rem;
        margin-bottom: 0;
        font: {
          family: 'NanumSquareR';
          size: 1.25rem;
        }
      }
    }

    &--logo {
      width: 22.875rem;
      height: 16.175rem;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &--content {
      &--wrapper {
        display: flex;
        width: 75rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &--title {
        width: 100%;
        margin: 3rem 0;
        padding-bottom: calc(0.8rem + 4px);
        font: {
          size: 1.75rem;
          family: 'NanumSquareEB';
        }

        &--underline {
          padding-bottom: 0.8rem;
          padding-right: 1.5rem;
          border-bottom: 4px solid #19b6b6;
        }
      }
    }
  }

  &--card {
    &--list {
      display: flex;
      width: 100%;
      margin: 2rem 0;

      & > div {
        margin-right: 8.75rem;
      }
    }
  }
}
