.developers {
  &--wrapper {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  &--introduce {
    &--wrapper {
      display: flex;
      position: relative;
      width: 100%;
      height: 22.5rem;
      justify-content: center;
      background-image: linear-gradient(left, #078f91, #19b6b6);
    }

    &--inner--wrapper {
      display: flex;
      width: 75rem;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    &--title {
      color: white;
      font: {
        family: 'NanumSquareB';
        size: 2.25rem;
      }

      &--sub {
        color: rgba(255, 255, 255, 0.64);
        margin-top: 1rem;
        margin-bottom: 0;
        font: {
          family: 'NanumSquareR';
          size: 1.25rem;
        }
      }
    }

    &--logo {
      width: 22.875rem;
      height: 16.175rem;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
