.goingout {
    &--datalist {
            &--wrapper {
                width: 100%;
                height: 2.6875rem;
                align-items: center;
                display: flex;
                padding-top: 0.15rem;
                padding-bottom: 0.15rem;
            }

        &--content {
            display: flex;
            justify-content: center;

            font : {
                size: 1.5rem;
                family: 'NanumSquareB';
            }
        }
    }
}

.goingout--datalist--content.content {
    &--number {
        width: 8.125rem;
    }

    &--name {
        width: 8.125rem;
    }

    &--schoolnumber {
        width: 8.125rem;
    }

    &--time {
        width: 14.125rem;
    }

    &--check {
        width: 8.125rem;
        background: #10a3b3;
        border-radius: 1rem;
        height: 2.2875rem;
        display: flex;
        align-items: center;
        color: white;
    }

    &--delete {
        width: 8.125rem;
    }
}