.goingout {
    &--modal {
        &--wrapper {
            position: fixed;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            z-index: 5;
        }

        &--close {
            width: 1.4rem;
            height: 1.4rem;
        }

        &--background {
            position: inherit;
            width: inherit;
            height: inherit;
            background-color: rgba(0, 0, 0, 0.16);
            opacity: .3;
        }

        &--header {
            &--wrapper {
                display: flex;
                justify-content: space-between;
            }
        }

        width: 38.8875rem;
        height: 18.0625rem;
        border-radius: 1rem;
        background-color: #ffffff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        z-index: 9999;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--studentinfo {
            &--wrapper {
                display: flex;
                width: 11.28125rem;
                justify-content: space-between;
                color: #707070;
                font : {
                    size: 2rem;
                    family: 'NanumSquareB';
                }
            }
        }

        &--reason {
            &--wrapper {
                display: flex;
                width: 100%;
                justify-content: space-between;
                height: 2.8125rem;
                align-items: center;
                color: #10a3a4;

                font : {
                    size: 1rem;
                    family : 'NanumSquareB'
                }
            }

            height: 2.8125rem;
            display: flex;
            align-items: center;
            width: 33.75rem - 0.16rem;
            border: solid 0.0625rem #10a3a4;
            border-radius: 0.5rem;
            padding-left : 0.5rem;
        }

        &--time {
            &--wrapper {
                display: flex;
                width: 24.25rem;
                justify-content: space-between;
                height: 2.8125rem;
                align-items: center;
                color: #10a3a4;

                font : {
                    size: 1rem;
                    family : 'NanumSquareB'
                }
            }

            height: 2.8125rem;
            display: flex;
            align-items: center;
            width: 19rem - 0.16rem;
            border: solid 0.0625rem #10a3a4;
            border-radius: 0.5rem;
            padding-left : 0.5rem;
        }

        &--button {
            &--wrapper {
                height: 2.875rem;
                display: flex;
                justify-content: center;
            }

            & + & {
                margin-left: 1rem;
            }

            width: 7.5rem;
            height: 2rem;
            padding: 0.4375rem;
            border-radius: 2rem;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            display: flex;
            justify-content: center;
            align-items: center;

            font : {
                family: 'NanumSquareB';
                size: 1.1rem;
            }

            &.accept {
                background: #0a9395;
                color: #ffffff;
            }

            &.refuse {
                background: #ffffff;
                color: #0a9395;
            }
        }
    }

    &--pagelist {
        &--wrapper {
            align-self: center;
        }
    }

    &--buttons {
        &--wrapper {
            display: flex;
            justify-content: space-between;
            width: 18rem;
        }

        &--all--wrapper {
            display: flex;
            align-items: center;
            width: 31rem;
            justify-content: space-between;
        }
    }

    &--select {
        &--wrapper {
            display: flex;
            width: 3.76875rem;
            height: 2.125rem;
            border: 0.0125rem solid #000000;
            align-items: center;
            justify-content: space-between;
            padding-left: 0.4rem;
            padding-right: 0.4rem;
            color: #10a3a4;
            font : {
                size : 0.85rem;
                family : 'NanumSquareR'
            }
        }

        &--icon {
            width: 0.85rem;
            height: 0.85rem;
        }
    }

    &--selected {
        &--wrapper {
            display: flex;
            width: 4.56875rem;
            height: 7.8890625rem;
            flex-direction: column;
            justify-content: space-between;
            border: 0.0125rem solid #000000;
            border-top: none;
            background-color: #ffffff;
        }

        &--list {
            &--wrapper {
                width: 4.56875rem;
                height: 2.125rem;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    &--button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12.5rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 2.5rem;
        color: #10a3a4;
        text-decoration: none;

        & + & {
            margin-left: 0.75rem;
        }

        &--detail {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
        }

        font: {
            size: 1.25rem;
            family: 'NanumSquareB';
        }

        &--illust {
            position: absolute;
            width: 9.1875rem;
            bottom: 2.7rem;
            left: 2rem;
        }
    }

    &--button--wrapper {
        z-index: 5;
        width: 100%;
        height: 3.4375rem;
        margin-bottom: 1.25rem;
    }

    &--wrapper {
        z-index: 3;
        width: calc(100% - 23.25rem);
        height: 29.025rem;
        padding-top: 5.5rem;
        padding-bottom: 2.125rem;
        padding-left: 11.625rem;
        padding-right: 11.625rem;
        background-color: #ffffff;
        border-radius: 1.124rem;
    }

    &--header {
        &--wrapper {
            display: flex;
            width: 100%;
            height: 2.6875rem;
            border-bottom: 0.125rem solid #0a9395;
        }
        
        &--content {

            color: #0a9395;

            font : {
                size: 1.5rem;
                family: 'NanumSquareB';
            }

            display: flex;
            justify-content: center;
        }
    }

    &--content {
        &--wrapper {
            width: 100%;
            height: 16rem;
            margin-top: 1rem;
            margin-bottom: 3.5rem;
            display: flex;
            flex-direction: column;
        }
    }

    &--footer {
        &--wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-direction: column;
            height: 5.8375rem;
        }
    }
}

.goingout--header--content.content {
    &--number {
        width: 8.125rem;
    }

    &--name {
        width: 8.125rem;
    }

    &--schoolnumber {
        width: 8.125rem;
    }

    &--time {
        width: 14.125rem;
    }

    &--check {
        width: 8.125rem;
    }

    &--delete {
        width: 8.125rem;
    }

}

.goingout.delete_icon {
    width: 2rem;
    height: 2rem;
}