.admin-goingout {
    &--list {
        &--wrapper {
            height: 0.85rem;
            padding-top: 0.112890625rem;
            padding-bottom: 0.112890625rem;
            padding-left: 0.478125rem;
            font : {
                size: 0.85rem;
                family: 'NanumSquareR';
            }
        }
    }
}