.header{
    &--wrapper {
        display: flex;
        width: 100%;
        height: 9.375rem;
        align-items: center;
        justify-content: space-between;
    }

    &--logo {
        text-decoration: none;
        display: flex;
        align-items: center;

        &--icon {
            width: 3.4375rem;
            height: 3.4375rem;
        }
        
        &--title {
            font-size:1.875rem;
            font-family: 'NanumSquareEB';
            color: white;
            margin-left: 3.125rem;
        }
    }

    &--button {
        width: 9.375rem;
        height: 3.125rem;
        border-radius: 1.5625rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        color: white;
        font-family: 'NanumSquareB';
        box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
        background-color: #19b6b6;

        &--list {
            display: flex; 
            width: 31.375rem;
            justify-content: space-between;
            height: 100%;
            align-items: center;
        }

        &--link{
            font-size: 1rem;
            font-family: 'NanumSquareB';
            color: white;
            cursor: pointer;
        }
    }
}