.header {
  &--wrapper {
    display: flex;
    width: 75rem;
    height: 9.375rem;
    align-items: center;
    justify-content: space-between;
  }

  &--logo {
    text-decoration: none;
    display: flex;
    align-items: center;

    &--icon {
      width: 3.4375rem;
      height: 3.4375rem;
    }

    &--title {
      color: white;
      margin-left: 3.125rem;

      font: {
        size: 1.875rem;
        family: "NanumSquareEB";
      }
    }
  }

  &--button {
    width: 9.375rem;
    height: 3.125rem;
    border-radius: 1.5625rem;
    border: none;
    cursor: pointer;
    color: white;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: #19b6b6;
    font: {
      size: 1rem;
      family: "NanumSquareB";
    }

    &:hover {
      box-shadow: none;
      transition: 0.7s;
    }

    &--mypage {
      width: 9.375rem;
      height: 3.125rem;
      border-radius: 1.5625rem;
      border: none;
      cursor: pointer;
      color: #19b6b6;
      box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
      background-color: white;

      font: {
        size: 1rem;
        family: "NanumSquareB";
      }

      &:hover {
        box-shadow: none;
        transition: 0.7s;
      }
    }

    &--list {
      display: flex;
      width: 38.375rem;
      justify-content: space-between;
      height: 100%;
      align-items: center;
    }

    &--link {
      color: white;
      cursor: pointer;
      text-decoration: none;
      font: {
        size: 1rem;
        family: "NanumSquareB";
      }
    }
  }

  &--meal--button {
    width: 9.375rem;
    height: 3.125rem;
    border-radius: 1.5625rem;
    border: none;
    cursor: pointer;
    color: #19b6b6;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: white;

    font: {
      size: 1rem;
      family: "NanumSquareB";
    }

    &:hover {
      box-shadow: none;
      transition: 0.7s;
    }
  }
}

.developers--page {
  & .header {
    &--logo {
      &--title {
        color: #19b6b6;
      }
    }

    &--button {
      &--link {
        color: #19b6b6;
      }
    }

    &--meal--button {
      color: white;
      background-color: #19b6b6;
    }
  }
}
