.apply--content--extension--mark {
  position: absolute;
  display: inline-block;
  color: rgba($color: #19b6b6, $alpha: 0.16);
  font-family: NanumSquareB;
  font-size: 1.5rem;
  &.top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &.bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &.left {
    transform: rotate(-90deg) translateX(+50%);
    left: 0;
    top: 50%;
  }
  &.right {
    transform: rotate(90deg) translateX(-50%);
    right: 0;
    top: 50%;
  }
}

.apply--content--extension {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apply--content--extension--map {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  & > tr {
    display: flex;
    justify-content: space-between;
    justify-items: center;
  }
  &--wrapper {
    width: 21.875rem;
    height: 80%;
    overflow: auto;
    &.big--class {
      width: 35rem;
    }
  }
  &.big--class {
    height: 150%;
  }
}
