.apply--menu {
  width: 6.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 12px 0 rgba($color: #000000, $alpha: 0.16);
  &--logo {
    margin-top: 1.875rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  &--item--wrapper {
    width: 100%;
    margin-top: 6.0625rem;
  }

  &--item {
    display: flex;
    width: 100%;
    height: 3.125rem;
    text-align: center;
    font-family: NanumSquareR;
    color: #19b6b6;
    margin-top: 1.5625rem;

    & > p {
      flex-grow: 1;
    }

    &.menu--selected {
      font-family: NanumSquareEB;

      &::before {
        content: '';
        display: block;
        width: 5px;
        background: #19b6b6;
        box-shadow: 0 3px 8px 0 rgba($color: #19b6b6, $alpha: 0.48);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
