.meal--card {
    &--wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s;
        width: 12.5rem;
        height: 18.75rem;
        border-radius: 10px;
        background-color: #0c9799;
        box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);

        &:hover {
            transition: 1s;
            width: 15.625rem;
            height: 21.875rem;
    
            & p {
                opacity: 1;
                transform: perspective(1000px) rotate3d(1,0,0,0);
                font-size: 1.5rem;
            }
    
            & span {
                font-size: 1.375rem;
                transition: font-size 1s;
            }
        }
    }

    &--header {
        font-size: 0;
        opacity: 0;
        transition: opacity 1s, transform 1s;
        transform: perspective(1000px) rotate3d(1,0,0,60deg);
        transform-origin: 0% 100%;
        color: white;
        font-family: 'NanumSquareB';
        text-align: center;
        padding-bottom:0.3rem;
    }

    &--content {
        color: white;
        font: {
            size: 1.25rem;
            family: 'NanumSquareR';
        }

        &--wrapper {
            display: flex;
            height: 14.3125rem;
            flex-direction: column;
            justify-content: space-between;
            align-items: center
        }
    }
}