.apply--extension--wrapper {
    flex-grow: 1;
}

.apply--extension--btnlist {
    width: 83rem;
    margin: 0 auto;
}

.apply--extension--title {
    color:#19b6b6;
    font-size: 2.5rem;
    width: 83rem;
    font-family: NanumSquareR;
    margin: 3.125rem auto 0.6em;
}

.apply--extension--accept--btnlist {
    width: 83rem;
    display: flex;
    justify-content: flex-end;
    margin: 2em auto 0;
}