.apply--extension--wrapper {
    flex-grow: 1;
    position: relative;
    background-image: url('../../../../assets/img/img_apply_extension_background.png');
    background-position: right;
    background-size: cover;
}

.apply--extension--btnlist {
    width: 81.25rem;
    margin: 0 auto;
}

.apply--title {
    color:#19b6b6;
    font-size: 2.5rem;
    width: 81.25rem;
    font-family: NanumSquareR;
    margin: 3.125rem auto 0.6em;
}

.apply--extension--accept--btnlist {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 2.5rem;
    padding-right: 3.75rem;
    box-sizing: border-box;
}