.apply--music--card--wrapper {
  width: 81.25rem;
  height: 37.1875rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-row-gap: 2.5rem;
}
