.apply--music--wrapper {
    flex-grow: 1;
    position: relative;
    background-image: url('../../../../assets/img/img_apply_music_background.png');
    background-position: right;
    background-size: cover;
}

.apply--music--btnlist {
    width: 81.25rem;
    margin: 3.125rem auto 0;
}