.apply--stay--card--wrapper {
    width: 81.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}