.apply--stay--wrapper {
    flex-grow: 1;
    position: relative;
    /*background: url('../../../../assets/img/img_apply_goingout_background.png');*/
    background-size: cover;
    background-position: right;
}