.meal--date--button {
    border:none;
    width: 9.375rem;
    height: 3.125rem;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1.5625rem;
    background-color: white;
    margin-right: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
    color: #19b6b6;

    font: {
        size: 1.125rem;
        family: 'NanumSquareB';
    }

    &:hover {
        width: 9.8rem;
        height: 3.5rem;
        transition: 0.3s;
        margin-right: 2.075rem;
        border-radius: 3.5625rem;
    }
}