.meal {
    &--wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        background-image: linear-gradient(to bottom, #078f91, #19b6b6);
    }

    &--inner--wrapper {
        width: 75rem;
        height: 100vh;
    }
    
    &--menu {
        &--wrapper {
            display: flex;
            width: 100%;
            height: calc(100vh - 9.375rem);
            justify-content: space-between;
            align-items: center;
        }

        &--left--wrapper {
            display: flex;
            width: 43.75rem;
            height: 35.0625rem;
            flex-direction: column;
            justify-content: space-between;
        }

        &--title {
            font-size: 3rem;
            font-family: 'NanumSquareEB';
            color: white;

            &--wrapper {
                display: flex;
                height: 6.125rem;
                width: 100%;
                flex-direction: column;
                justify-content: space-between;
            }

            &--date {
                color: rgba(255, 255, 255, 0.7);
                font-size: 1.5rem;
                font-family: 'NanumSquareB';
            }
        }

        &--content {
            display: flex;
            width: 100%;
            height: 21.875rem;
            justify-content: space-between;
            align-items: center;
            background-color: beige;
        }


        &--right--img {
            width: 29.375rem;
            height: auto;   
        }
    }
}