.apply--goingout--card {
    width: 37.5rem;
    height: 12.5rem;
    background: #fff;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1.875rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);

    & > p {
        font-family: NanumSquareR;
    }

    &--title {
        font-size: 1.5rem;
        color: #505050;
        margin: 0;
    }

    &--time {
        margin-top: 1rem;
        font-size: 1.25rem;
        color: #606060;
    }

    &--selected {
        background: #19b6b6;
        & > p{
            color: #fff;
        }
        & > .apply--goingout--card--time {
            opacity: 0.8;
        }
        & > .apply--goingout--card--reson {
            opacity: 0.6;
        }
    }

    &--reason {
        font-size: 1rem;
        color: rgba($color: #000000, $alpha: 0.56);
        margin: 0 0 0.5em;
    }
}