.guide--content--wrapper {
  width: 100%;
  height: 100%;
  background: #f7ffff;
}

.guide--content--title {
  color: #19b6b6;
  font-size: 2.5rem;
  width: 81.25rem;
  font-family: NanumSquareR;
  margin: 3.125rem auto 0;
  &::after {
    border-top: 3px solid #3d7e9a;
    content: '';
    display: block;
    width: 100%;
    margin-top: 4.125rem;
  }
}