.guide--content--post {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.25rem;

  & > p {
    margin: 0;
    font-family: NanumSquareB;
    color: rgba($color: #233539, $alpha: 0.6);
    font-size: 0.875rem;
  }

  & > h2 {
    font-family: NanumSquareB;
    color: #233539;
    font-size: 0.875rem;
    padding: 0.625rem 0;
    margin: 0;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.08);
  }

  & > div {
    flex-grow: 1;
    overflow: auto;
    font-family: NanumSquareR;
    font-size: 0.875rem;
    color: #404040;
  }
}
