.guide--content--wrapper {
  width: 100%;
  height: 100%;
  background: #f7ffff;
}

.guide--content--title {
  color: #19b6b6;
  font-size: 2.5rem;
  width: 100%;
  margin: 0;
  font-family: NanumSquareR;
  &--wrapper {
    position: relative;
    height: 6.875rem;
    width: 81.25rem;
    margin: 3.125rem auto 0;
    &::after {
      position: absolute;
      border-top: 3px solid #3d7e9a;
      content: "";
      display: block;
      width: 100%;
      top: 6.875rem;
    }
  }
}

.guide--content--detail {
  &--wrapper {
    margin-top: 1rem;
    font-family: NanumSquareR;
    font-size: 1.5rem;
  }

  &--title {
    opacity: 0.64;
  }

  &--date {
    float: right;
    opacity: 0.36;
  }
}
