.domitory-rule {
    &--show {
        &--wrapper {
            z-index: 3;
            width: calc(100% - 10.75rem);
            height: 30.65rem;
            padding: 3rem 5.375rem;
            background-color: #ffffff;
            border-radius: 1.124rem;
        }

        &--title {
            font : {
                family: "NanumSquareB";
                size: 2.5rem;
            }

            color: #10a3a4;
        }

        &--content--wrapper {
            margin-top: 3rem;
            height: calc(100% - 5.5rem);
            overflow: auto;
        }

        &--content {

            font : {
                family: "NanumSquareR";
                size: 1.25rem;
            }

            color: #707070;
        }
    }
}