.apply--extens--btn {
    font-size: 1.5rem;
    display: inline-block;
    background: #e2f6f6;
    color: #19b6b6;
    font-family: NanumSquareR;
    padding: 0.5em 1.25em;
    border-radius: 1.5em;
    margin-bottom: 1em;
    margin-right: 0.5em;
}