.apply--extension--btn {
    display: inline-block;
    font-family: NanumSquareR;
    color: #fff;
    font-size: 1.75rem;
    padding: 0.642em 4.5em;
    border-radius: 1.5em;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16);
}

.apply--extension--accept--btn {
    background: #19b6b6;
}

.apply--extension--cancle--btn {
    background: #c4c4c4;
    margin-right: 1.7em;
}