.modal {
    &--wrapper {
        display: flex;
        position: fixed;
        z-index: 100;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        flex-direction: column;
        justify-content: space-between;
        width: 25rem;
        height: 37.5rem;
        border-radius: 20px;
        box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
        background-color: #f5f5f5;
    }
    
    &--exit--icon {
        position: absolute;
        width: 0.9375rem;
        height: auto;
        left: 1.25rem;
        top: 1.25rem;
        cursor: pointer;
    }

    &--logo {
        width: 3.75rem;
        height: auto;
        margin-bottom: 1.25rem;

        &--wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 8rem;
            justify-content: flex-end;
            align-items: center;
        }

        &--title {
            color: #19b6b6;

            font: {
                family: 'NanumSquareEB';
                size: 1.5rem;
            }
        }
    }

    &--content {
        &--wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 26.875rem;
        }
    }

    &--link {
        color: #19b6b6;
        cursor: pointer;
        margin-left: 0.5rem;
        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 3.125rem;
            background-color: #e0e0e0;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            color: #616161;

            font: {
                size: 0.875rem;
                family: 'NanumSquareR'
            }
        }
    }
}