.report {
  &--wrapper {
    display: flex;
    width: 18.75rem;
    height: 21.875rem;
    flex-direction: column;
    justify-content: space-between;
  }

  &--textarea {
    width: calc(100% - 6px - 3.25rem);
    height: calc(13.5rem - 6px - 1.2rem);
    border: 3px solid #e0e0e0;
    border-radius: 5px;
    padding: 0.6rem 1.625rem;
    resize: none;

    font: {
      family: 'NanumSqaureB';
      size: 1.125rem;
    }

    &::placeholder {
      color: #9e9e9e;
    }

    &:focus {
      border-color: #19b6b6;
      color: #19b6b6;
      outline: none;
      &::placeholder {
        color: #19b6b6;
      }
    }
  }
}
