.apply--content--type--switch--item {
  font-family: NanumSquareB;
  display: inline-block;
  position: relative;
  width: 6.25rem;
  height: 100%;
  border-radius: 4px;
  &.selected {
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba($color: #000000, $alpha: 0.04);
  }
  & > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
