.App {
  text-align: center;
}

.inner--wrapper {
  display: flex;
  width: 75rem;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'NanumSquareEB';
  src: url('./assets/font/NANUMSQUAREEB.TTF') format('truetype')
}

@font-face {
  font-family: 'NanumSquareB';
  src: url('./assets/font/NANUMSQUAREB.TTF') format('truetype')
}

@font-face {
  font-family: 'NanumSquareL';
  src: url('./assets/font/NANUMSQUAREL.TTF') format('truetype')
}

@font-face {
  font-family: 'NanumSquareR';
  src: url('./assets/font/NANUMSQUARER.TTF') format('truetype')
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 11.383px;
  }
}

::-webkit-scrollbar {
  width: 0.8125rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #10a3a4;
}