.apply--add--card {
    width: 37.5rem;
    height: 12.5rem;
    background: url('../../../../../assets//img/img_apply_add_background.png');
    background-size: cover;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &--img {
        width: 1.5625rem;
        opacity: 0.48;
    }

    &--text {
        font-family: NanumSquareB;
        font-size: 1.25rem;
        text-align: center;
        color: rgba($color: #000000, $alpha: 0.48);
    }
}