.main {
    &--wrapper {
        display: flex;
        width: 100%;
        height: 43vh;
        justify-content: center;
        background-image: linear-gradient(to right, #0a9395, #099394 20%, #099293 31%, #099294 42%, #099394 51%, #099394 55%, #0c9a9b 64%, #0e9e9f 72%, #12a6a7 80%, #14abab);
    }
}