.download--list--element {
    position: relative;
    display: flex;
    width: calc(100% - 1rem);
    height: 2.765625rem;
    align-items: center;

    font : {
        size: 20px;
        family: 'NanumSquareR';
    }

    padding-left: 1rem;

    animation: textsmooth 1s;
    cursor: default;

    transition: background-color .3s;
    
    &:hover {
        background-color: #dcdcdc;
    }
}

@keyframes textsmooth {
    0% {
        opacity: 0;
        bottom: 100px;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}